* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    margin: 10px;
    width: 800px;
}

.list h1 {
    text-align: center;
}

.list--item {
    border: 1px solid slateblue;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    height: 50px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(252, 209, 146);
}

.loginForm {
    width: 700px;
    margin: 30px auto 0;
}
